h1 {
	color: orange;
	text-align: center;
}
 header span{
 	color: yellow;
 }

p {
	color: green;
}

footer p {
	color: blue;
}

.hightlight {
	background-color: yellow;
}
 footer .heyaa {
 	background-color: grey;
 }
